<nav class="nav fixed-top nav-top" id="navbar">
  <div class=" icon-text"><a class="logo-href" href="#"><span class="flogo-text-1">&lt;FLO</span>GRAMMING&#47;&gt;</a></div>
  <ul class="ms-auto nav nav-items">
    <li class="nav-item">
      <a class="nav-link" href="#about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">PROJECTS / PORTFOLIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#products">PRODUCTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#contact">CONTACT</a>
    </li>
  </ul>
</nav>
