<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/images/hero-icon.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1000" height="1000">
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fw-bold lh-1 mb-3 section-head">Florante Rapio</h2>
      <p class="lead">I am a Software Engineer/Backend Developer from Manila, Philippines</p>
    </div>
  </div>
</div>
<app-about></app-about>
<app-projects></app-projects>
<app-products></app-products>
<app-contact></app-contact>
