@import "../../../../src/styles.scss";


.cover-blue {
  height: 100%;
}
.social-link {
  text-decoration: none;
  color: $logo-color-1;
  font-weight: 700;
}
.my-image {
  border-radius: 5%;
  max-width: 70%!important;
}
