<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <div class="col-lg-6">
      <h2 class="display-5 fw-bold lh-1 mb-3 section-head">About</h2>
      <p class="lead">
        Hi my name is Florante Rapio and you can call me 'Flo' or 'Flor'. My objective is to help small businesses in making their business digital by providing
        software solutions.
      </p>

      <h3 class="lead">
        This website has been built using Spring Boot (Java Framework), Angular (Typescript), and MongoDB
      </h3>
    </div>
    <div class="col-10 col-sm-8 col-lg-6 cover-blue h-100">
      <img src="../../../assets/images/DSC_0445.JPG" class="my-image img-fluid" alt="Uhm this should be me">
    </div>
  </div>
</div>
